<ion-header>

  <ion-navbar color="primary">
    <ion-title>Rückmelden</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <h2>{{task.title}}</h2>
  <p>{{task.responseInstructions}}</p>

  <ion-item>
    <div *ngIf="response !== null">
      <img [src]="response.url">
      <button (click)="addResponse()">Video ändern</button>
    </div>

    <div *ngIf="response === null">
      <button (click)="addResponse()">Video hochladen</button>
    </div>
  </ion-item>

  <button
    ion-button
    type="submit"
    block
    [disabled]="response === null">
    <span>Rückmelden</span>
  </button>

  <button color="danger" (click)="dismissModal()"
          ion-button
          block>
    <span>Abbrechen</span>
  </button>
</ion-content>
