<ion-header>

  <ion-navbar color="primary">
    <ion-title>Rückmelden</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <h2>{{task.title}}</h2>
  <p>{{task.responseInstructions}}</p>

  <ion-item>
    <div *ngIf="response !== null">
      <img [src]="response.url">
      <button
        ion-button
        block
        (click)="addResponse()">Video ändern
      </button>
      <button
        ion-button
        block
        (click)="removeResponse()">Video entfernen
      </button>
    </div>

    <div *ngIf="response === null">
      <button
        ion-button
        block
        (click)="addResponse()">Video hochladen
      </button>
    </div>
  </ion-item>

  <button
    ion-button
    block
    [disabled]="response === null"
    (click)="submitResponse()">
    <span>Rückmelden</span>
  </button>

  <button color="danger" (click)="dismissModal()"
          ion-button
          block>
    <span>Abbrechen</span>
  </button>
</ion-content>
