<ion-header>

  <ion-navbar color="primary">
    <ion-title>{{user?.name}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="presentPopover($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

  <ion-toolbar color="primary">
    <ion-segment color="navtext" [(ngModel)]="activeTab">
      <ion-segment-button value="open">
        Offen
      </ion-segment-button>
      <ion-segment-button value="grade">
        Wird bewertet
      </ion-segment-button>
      <ion-segment-button value="done">
        Erledigt
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div [ngSwitch]="activeTab">
    <div *ngSwitchCase="'open'">
      <div *ngIf="openTasks.length == 0">Es gibt keine offenen Aufgaben von diesem Coach</div>

      <div *ngIf="openTasks.length > 0">
        <ion-card *ngFor="let task of openTasks; let i = index">
          <div>
            <ion-item (click)="toggle(task)">
              <ion-grid>
                <ion-row>
                  <ion-col>
                    <h2>{{task.title}}</h2>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <ion-note>{{task.created_at | date}}</ion-note>
                  </ion-col>
                  <ion-col text-right>
                    <ion-badge item-right *ngIf="task.difficulty=='Schwer'" color="badgehard" class="difficulty">
                      {{task.difficulty}}
                    </ion-badge>
                    <ion-badge item-right *ngIf="task.difficulty=='Mittel'" color="badgemedium" class="difficulty">
                      {{task.difficulty}}
                    </ion-badge>
                    <ion-badge item-right *ngIf="task.difficulty=='Einfach'" color="badgeeasy" class="difficulty">
                      {{task.difficulty}}
                    </ion-badge>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-item>

            <ion-card-content *ngIf="task.open" text-wrap>
              <p>{{task.description}}</p>
            </ion-card-content>

            <ion-item *ngIf="task.open" text-wrap>
              <h2>Rückmeldung</h2>
              <p>{{task.responseType}}</p>
              <p *ngIf="task.responseInstructions">{{task.responseInstructions}}</p>
            </ion-item>

            <ion-row *ngIf="task.open">
              <ion-col text-right>
                <button ion-button icon-left clear small (click)="openChat(task)">
                  <ion-icon name="text"></ion-icon>
                  <div>Chat</div>
                </button>
                <button ion-button icon-left clear small (click)="checkIfResponseWanted(task)">
                  <ion-icon name="checkmark-circle"></ion-icon>
                  <div>Erledigt</div>
                </button>
              </ion-col>
            </ion-row>
          </div>
        </ion-card>
      </div>
    </div>

<!-- --------------------------------------------------------------------------------- -->

    <div *ngSwitchCase="'grade'">
      <div *ngIf="gradeTasks.length == 0">Du wartest auf keine Bewertungen</div>

      <div *ngIf="gradeTasks.length > 0">
        <ion-card *ngFor="let task of gradeTasks; let i = index;">
          <div>
            <ion-item (click)="toggle(task)">
              <ion-grid>
                <ion-row>
                  <ion-col>
                    <h2>{{task.title}}</h2>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <ion-note>{{task.created_at | date}}</ion-note>
                  </ion-col>
                  <ion-col text-right>
                    <ion-badge item-right *ngIf="task.difficulty=='Schwer'" color="badgehard" class="difficulty">
                      {{task.difficulty}}
                    </ion-badge>
                    <ion-badge item-right *ngIf="task.difficulty=='Mittel'" color="badgemedium" class="difficulty">
                      {{task.difficulty}}
                    </ion-badge>
                    <ion-badge item-right *ngIf="task.difficulty=='Einfach'" color="badgeeasy" class="difficulty">
                      {{task.difficulty}}
                    </ion-badge>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-item>

            <ion-card-content *ngIf="task.open" text-wrap>
              <p>{{task.description}}</p>
            </ion-card-content>

            <ion-item *ngIf="task.open" text-wrap>
              <h2>Rückmeldung</h2>
              <p>{{task.responseType}}</p>
              <p *ngIf="task.responseInstructions">{{task.responseInstructions}}</p>
              <p>{{task.response}}</p>
            </ion-item>

            <ion-row>
              <ion-col text-right *ngIf="task.open">
                <button ion-button icon-left clear small (click)="openChat(task)">
                  <ion-icon name="text"></ion-icon>
                  <div>Chat</div>
                </button>
              </ion-col>
            </ion-row>
          </div>
        </ion-card>
      </div>
    </div>

    <!-- --------------------------------------------------------------------------------- -->

    <div *ngSwitchCase="'done'">
      <div *ngIf="doneTasks.length == 0">Du hast keine erledigten Aufgaben</div>

      <div *ngIf="doneTasks.length > 0">
        <ion-card *ngFor="let task of doneTasks; let i = index;">
          <div>
            <ion-item (click)="toggle(task)">
              <ion-grid>
                <ion-row>
                  <ion-col>
                    <h2>{{task.title}}</h2>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <ion-note>{{task.created_at | date}}</ion-note>
                  </ion-col>
                  <ion-col text-right>
                    <ion-badge item-right *ngIf="task.difficulty=='Schwer'" color="badgehard" class="difficulty">
                      {{task.difficulty}}
                    </ion-badge>
                    <ion-badge item-right *ngIf="task.difficulty=='Mittel'" color="badgemedium" class="difficulty">
                      {{task.difficulty}}
                    </ion-badge>
                    <ion-badge item-right *ngIf="task.difficulty=='Einfach'" color="badgeeasy" class="difficulty">
                      {{task.difficulty}}
                    </ion-badge>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-item>

            <ion-card-content *ngIf="task.open" text-wrap>
              <p>{{task.description}}</p>
            </ion-card-content>

            <ion-item *ngIf="task.open" text-wrap>
              <h2>Rückmeldung</h2>
              <p>{{task.responseType}}</p>
              <p *ngIf="task.responseInstructions">{{task.responseInstructions}}</p>
              <p>{{task.response}}</p>
            </ion-item>

            <ion-row>
              <ion-col text-left>
                <rating [(ngModel)]="task.rating" readOnly="true" max="3"></rating>
              </ion-col>
              <ion-col text-right *ngIf="task.open">
                <button ion-button icon-left clear small (click)="openChat(task)">
                  <ion-icon name="text"></ion-icon>
                  <div>Chat</div>
                </button>
              </ion-col>
            </ion-row>
          </div>
        </ion-card>
      </div>
    </div>
  </div>
</ion-content>
