<ion-header>

  <ion-navbar color="primary">
    <ion-title class="header-title">{{user?.name}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="presentPopover($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

  <ion-toolbar color="primary">
    <ion-segment color="navtext" [(ngModel)]="activeTab">
      <ion-segment-button value="open">
        Offen
      </ion-segment-button>
      <ion-segment-button value="grade">
        Wird bewertet
      </ion-segment-button>
      <ion-segment-button value="done">
        Erledigt
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content padding class="contetenFooterFix">
  <div [ngSwitch]="activeTab">
    <div *ngSwitchCase="'open'">
      <div *ngIf="openTasks.length == 0"><img class="notasksgradablestudent" src="assets/images/allTasksdone.png"></div>
      <div *ngIf="openTasks.length > 0">
        <ion-card *ngFor="let task of openTasks; let i = index;" (press)="openActionSheet(task._id)" class="task-card">
          <div>
            <ion-item (tap)="toggle(task)">
              <ion-grid>
                <ion-row>
                  <ion-col class="first-row-col">
                    <p class="task-title">{{task.title}}</p>
                  </ion-col>
                  <ion-col class="first-row-col date">
                    <ion-note class="task-date" item-left>{{task.created_at | date}}</ion-note>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col class="second-row-col">
                    <p class="task-description">{{task.description}}</p>
                  </ion-col>
                  <ion-col class="second-row-col difficulties">
                    <ion-badge item-right *ngIf="task.difficulty=='Schwer'" color="badgehard" class="difficulty">{{task.difficulty}}
                    </ion-badge>
                    <ion-badge item-right *ngIf="task.difficulty=='Mittel'" color="badgemedium" class="difficulty">{{task.difficulty}}
                    </ion-badge>
                    <ion-badge item-right *ngIf="task.difficulty=='Einfach'" color="badgeeasy" class="difficulty">{{task.difficulty}}
                    </ion-badge>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-item>

            <!-- ANHÄNGE -->
            <ion-list class="icons-wrapper" *ngIf="task.open && task.attachmentsArr.length">
              <ion-item class="icon-wrapper" *ngFor="let task of task.attachmentsArr;">
                <div (click)="watchAttachment(task)" class="icon-background">
                  <ion-icon class="attachment-icon" *ngIf="task.type=='jpg'" name="camera"></ion-icon>
                  <ion-icon class="attachment-icon" *ngIf="task.type=='png'" name="camera"></ion-icon>
                  <ion-icon class="attachment-icon" *ngIf="task.type=='MOV'" name="videocam"></ion-icon>
                  <ion-icon class="attachment-icon" *ngIf="task.type=='mp4'" name="videocam"></ion-icon>
                  <ion-icon class="attachment-icon" *ngIf="task.type=='amr'" name="musical-notes"></ion-icon>
                  <ion-icon class="attachment-icon" *ngIf="task.type=='mp3'" name="musical-notes"></ion-icon>
                  <ion-icon class="attachment-icon" *ngIf="task.type=='wav'" name="musical-notes"></ion-icon>
                </div>
              </ion-item>
            </ion-list>



            <ion-grid>
              <ion-row *ngIf="task.open">
                <ion-col text-right>
                  <button  *ngIf="task.responseType!=='Keine'" ion-button icon-left small class="response-background2" (click)="checkIfResponseWanted(task)">
                    <ion-icon *ngIf="task.responseType=='Keine'"></ion-icon>
                    <ion-icon class="response-icon" *ngIf="task.responseType=='Bild'" name="camera"></ion-icon>
                    <ion-icon class="response-icon" *ngIf="task.responseType=='Video'" name="videocam"></ion-icon>
                    <ion-icon class="response-icon" *ngIf="task.responseType=='Text'" name="paper"></ion-icon>
                    <ion-icon class="response-icon" *ngIf="task.responseType=='Sprachnachricht'" name="musical-notes"></ion-icon>
                    <div *ngIf="task.responseType!=='Keine'" class="chatText">Rückmeldung</div>
                  </button>
                  <ion-col>
                    <button class="chatButton" ion-button icon-left small (click)="openChat(task)">
                      <ion-icon class="chatIcon" name="text"></ion-icon>
                      <div class="chatText">Chat</div>
                    </button>
                  </ion-col>
                </ion-col>
              </ion-row>
            </ion-grid>

          </div>
        </ion-card>
      </div>
    </div>

    <!-- --------------------------------------------------------------------------------- -->

    <div *ngSwitchCase="'grade'">
      <div *ngIf="gradeTasks.length == 0"><img class="allTasksDone" src="assets/images/notasksgradablestudent.png"></div>
        <ion-card *ngFor="let task of gradeTasks; let i = index;" (press)="openActionSheet(task._id)" class="task-card">
          <div>
            <ion-item (tap)="toggle(task)">
              <ion-grid>
                <ion-row>
                  <ion-col class="first-row-col">
                    <p class="task-title">{{task.title}}</p>
                  </ion-col>
                  <ion-col class="first-row-col date">
                    <ion-note class="task-date" item-left>{{task.created_at | date}}</ion-note>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col class="second-row-col">
                    <p class="task-description">{{task.description}}</p>
                  </ion-col>
                  <ion-col class="second-row-col difficulties">
                    <ion-badge item-right *ngIf="task.difficulty=='Schwer'" color="badgehard" class="difficulty">{{task.difficulty}}
                    </ion-badge>
                    <ion-badge item-right *ngIf="task.difficulty=='Mittel'" color="badgemedium" class="difficulty">{{task.difficulty}}
                    </ion-badge>
                    <ion-badge item-right *ngIf="task.difficulty=='Einfach'" color="badgeeasy" class="difficulty">{{task.difficulty}}
                    </ion-badge>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-item>

            <ion-list class="icons-wrapper" *ngIf="task.open && task.responseType !== 'Keine'">
              <ion-item class="icon-wrapper" *ngIf="task.responseType !== 'Text'">
                <div (click)="watchResponse(task.response)" class="icon-background">
                  <ion-icon class="attachment-icon" *ngIf="task.responseType=='Bild'" name="camera"></ion-icon>
                  <ion-icon class="attachment-icon" *ngIf="task.responseType=='Video'" name="videocam"></ion-icon>
                  <ion-icon class="attachment-icon" *ngIf="task.responseType=='Sprachnachricht'" name="musical-notes"></ion-icon>
                </div>
              </ion-item>
              <p class="textResponse" *ngIf="task.responseType=='Text'">{{task.response}}</p>
            </ion-list>


            <ion-grid>
              <ion-row *ngIf="task.open">
                <ion-col text-right>
                  <ion-col>
                    <button class="chatButton" ion-button icon-left small (click)="openChat(task)">
                      <ion-icon class="chatIcon" name="text"></ion-icon>
                      <div class="chatText">Chat</div>
                    </button>
                  </ion-col>
                </ion-col>
              </ion-row>
            </ion-grid>

          </div>
        </ion-card>
      </div>


    <!-- --------------------------------------------------------------------------------- -->

    <div *ngSwitchCase="'done'">
      <div *ngIf="doneTasks.length == 0">Du hast keine erledigten Aufgaben</div>

      <div *ngIf="doneTasks.length > 0">
        <ion-card *ngFor="let task of doneTasks; let i = index;" (press)="openActionSheet(task._id)" class="task-card">
          <div>
            <ion-item (tap)="toggle(task)">
              <ion-grid>
                <ion-row>
                  <ion-col class="first-row-col">
                    <p class="task-title">{{task.title}}</p>
                  </ion-col>
                  <ion-col class="first-row-col date">
                    <ion-note class="task-date" item-left>{{task.created_at | date}}</ion-note>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col class="second-row-col">
                    <p class="task-description">{{task.description}}</p>
                  </ion-col>
                  <ion-col class="second-row-col difficulties">
                    <ion-badge item-right *ngIf="task.difficulty=='Schwer'" color="badgehard" class="difficulty">{{task.difficulty}}
                    </ion-badge>
                    <ion-badge item-right *ngIf="task.difficulty=='Mittel'" color="badgemedium" class="difficulty">{{task.difficulty}}
                    </ion-badge>
                    <ion-badge item-right *ngIf="task.difficulty=='Einfach'" color="badgeeasy" class="difficulty">{{task.difficulty}}
                    </ion-badge>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-item>

            <ion-row class="rating-done-fix">
              <ion-col text-left class="rating-col">
                <rating class="rating" [(ngModel)]="task.rating" readOnly="false" max="3" (click)="rateAssignmentAndMarkAsDone(task)"></rating>
              </ion-col>
            </ion-row>

          </div>
        </ion-card>
      </div>
    </div>
  </div>
</ion-content>
<ion-footer class="footer-element">
  <img src="assets/images/footer-element.png">
</ion-footer>
