page-student-task {
  .difficulty{
    margin: 0 !important;
    font-weight: normal;
  }
  .allTasksDone{
    width: 83% !important;
    left: 11% !important;
    top: 39px !important;
    position: relative !important;
  }
  .notasksgradablestudent{
    width: 83% !important;
    left: 11% !important;
    top: 39px !important;
    position: relative !important;

  }
}
