<ion-header>

  <ion-toolbar color="primary">
    <ion-title>Student Dashboard</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-avatar item-left>
        <img src="../../assets/images/dummy-avatar.png">
      </ion-avatar>
      <h2>Coach 1</h2>
      <p>2 Tasks offen</p>
      <ion-badge color="light" item-right>2</ion-badge>
    </ion-item>

    <ion-item>
      <ion-avatar item-left>
        <img src="../../assets/images/dummy-avatar.png">
      </ion-avatar>
      <h2>Coach 2</h2>
      <p>1 Task offen</p>
      <ion-badge color="light" item-right>1</ion-badge>
    </ion-item>
  </ion-list>
  <ion-list-header>Anfragen</ion-list-header>
  <p padding *ngIf="pendingInvites.length == 0">
    Es liegen keine Einladungen vor
  </p>

  <div *ngIf="pendingInvites.length > 0">
    <p *ngFor="let coach of pendingInvites; let i = index">
      <ion-card>
        <ion-item>
          <ion-avatar item-left>
            <img src="../../assets/images/dummy-avatar.png">
          </ion-avatar>
          Eine Coaching Anfrage von {{coach.name}}
        </ion-item>
        <ion-item>
          <button ion-button outline (click)="onDeclineInvite(i)">
            Ablehnen
          </button>
      <button ion-button (click)="onAcceptInvite(i)">
        Akzeptieren
      </button>
        </ion-item>
      </ion-card>
    </p>
  </div>

</ion-content>
