<ion-header>

  <ion-toolbar color="primary" *ngIf="!searchIsActive">
    <ion-title class="header-title">Meine Coaches</ion-title>
    <ion-buttons start>
      <button ion-button icon-only (click)="toggleSearch()">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button id="notification-button" ion-button icon-only clear (click)="goToNotifications()">
        <ion-icon name="notifications">
          <ion-badge id="notifications-badge" color="danger" *ngIf="notifications.length > 0">{{ notifications.length
            }}
          </ion-badge>
        </ion-icon>
      </button>
      <button ion-button icon-only (click)="presentPopover($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar color="primary" *ngIf="searchIsActive">
    <ion-searchbar
      [(ngModel)]="searchQuery"
      showCancelButton="true"
      (ionInput)="search()"
      (ionCancel)="toggleSearch()"></ion-searchbar>
  </ion-toolbar>

</ion-header>

<ion-content padding (click)="checkSearch()">
  <p class="noCoaches" padding *ngIf="coaches.length == 0">
    <img src="assets/images/noCoaches.png">
  </p>

  <ion-list *ngIf="coaches.length > 0">
    <ion-list-header class="list-header">Meine Coaches</ion-list-header>
    <ion-item *ngFor="let coach of coaches; let i = index" (tap)="goToTasks(i)" (press)="openActionSheet(i)">
      <ion-avatar item-left>
        <img class="list-avatar" src="assets/images/dummy-avatar.png">
      </ion-avatar>
      <h2 class="item-header">{{coach.name}}</h2>
      <p class="item-subheader">{{coach.aboutMe}}</p>
      <p class="claim">{{coach?.openTasks}} Tasks offen</p>
      <!--   <ion-badge color="light" item-right>{{openTasksStudents[i]}}</ion-badge>    -->
    </ion-item>
  </ion-list>
  <p padding *ngIf="pendingInvites.length == 0">
    Es liegen keine Einladungen vor
  </p>

  <div *ngIf="pendingInvites.length > 0">
    <ion-list-header class="list-header">Anfragen</ion-list-header>
    <p *ngFor="let coach of pendingInvites; let i = index">
      <ion-card>
        <ion-item>
          <ion-avatar item-left>
            <img src="assets/images/dummy-avatar.png">
          </ion-avatar>
          <h3>Eine Coaching Anfrage von<br>
            {{coach.name}}</h3>
        </ion-item>
        <ion-item>
          <button ion-button outline (click)="onDeclineInvite(i)">
            Ablehnen
          </button>
          <button ion-button (click)="onAcceptInvite(i)">
            Akzeptieren
          </button>
        </ion-item>
      </ion-card>
    </p>
  </div>

</ion-content>
<ion-footer class="footer-element">
  <img src="assets/images/footer-element.png">
</ion-footer>
