<ion-header>

  <ion-navbar color="primary">
    <ion-title>
      <span *ngIf="mode === 'edit'">Aufgabe bearbeiten</span>
      <span *ngIf="mode === 'create'">Neue Aufgabe</span>
      <span *ngIf="mode === 'draft'">Neue Aufgabe</span>
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <form [formGroup]="taskForm" (ngSubmit)="submitForm()">
    <ion-list>
      <ion-item-divider color="primary">
        <ion-icon name="clipboard" item-left></ion-icon>
        Allgemeines
      </ion-item-divider>

      <ion-item>
        <ion-label fixed>Titel</ion-label>
        <ion-input
          type="text"
          block
          formControlName="title">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label fixed>Beschreibung</ion-label>
        <ion-input
          type="text"
          block
          formControlName="description">
        </ion-input>
      </ion-item>

      <ion-item-divider color="primary">
        <ion-icon name="attach" item-left></ion-icon>
        Anhänge
      </ion-item-divider>

      <ion-item>
        <ion-icon name="add" (click)="addAttachment()" item-right></ion-icon>
      </ion-item>

      <ion-list>
        <ion-item *ngFor="let newImage of newAttachments.images; let i = index" >
          <img [src]="newImage">
        </ion-item>
      </ion-list>

      <ion-list>
        <ion-item *ngFor="let newVideo of newAttachments.videos; let i = index" >
          <video [src]="newVideo"></video>
        </ion-item>
      </ion-list>
      <ion-list>
        <ion-item *ngFor="let newVoice of newAttachments.voice; let i = index" >
          <audio controls>
            <source [src]="newVoice">
          </audio>
        </ion-item>
      </ion-list>

      <ion-item-divider color="primary">
        <ion-icon name="cog" item-left></ion-icon>
        Einstellungen
      </ion-item-divider>

      <ion-item>
        <ion-label fixed>Schwierigkeit</ion-label>
        <ion-select formControlName="difficulty">
          <ion-option
            *ngFor="let difficulty of difficulties"
            [value]="difficulty">{{ difficulty }}
          </ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label fixed>Rückmeldung</ion-label>
        <ion-select formControlName="responseType">
          <ion-option
            *ngFor="let response of responses"
            [value]="response">{{ response }}
          </ion-option>
        </ion-select>
      </ion-item>

      <ion-item *ngIf="taskForm.get('responseType').value != 'Keine'">
        <ion-label fixed>Was soll der Schüler rückmelden?</ion-label>
        <ion-input
          type="text"
          block
          formControlName="responseInstructions">
        </ion-input>
      </ion-item>

      <div *ngIf="mode === 'edit'">
        <ion-item>
          <ion-label fixed>Status</ion-label>
          <ion-select formControlName="state">
            <ion-option
              *ngFor="let state of states"
              [value]="state.value">{{ state.label }}
            </ion-option>
          </ion-select>
        </ion-item>

        <rating text-right formControlName="rating" readOnly="false" nullable="true" max="3"></rating>
      </div>

    </ion-list>

    <button
      ion-button
      type="submit"
      block
      [disabled]="!taskForm.valid">
      <span *ngIf="mode === 'edit'">Speichern</span>
      <span *ngIf="mode === 'create'">Neue Aufgabe</span>
      <span *ngIf="mode === 'draft'">Neue Aufgabe</span>
    </button>

  </form>
</ion-content>


