<ion-header>

  <ion-navbar color="primary">
    <ion-title>Erstellen</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <form [formGroup]="taskForm" (ngSubmit)="onCreateTask()">
    <ion-item>
      <ion-label floating>Titel</ion-label>
      <ion-input
        type="text"
        block
        formControlName="title">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Beschreibung</ion-label>
      <ion-input
        type="text"
        block
        formControlName="description">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Schwierigkeit</ion-label>
      <ion-select formControlName="difficulty">
        <ion-option
          *ngFor="let difficulty of difficulties"
          [value]="difficulty">{{ difficulty }}
        </ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Rückmeldung</ion-label>
      <ion-select formControlName="response">
        <ion-option
          *ngFor="let response of responses"
          [value]="response">{{ response }}
        </ion-option>
      </ion-select>
    </ion-item>

    <button
      ion-button
      type="submit"
      block
      [disabled]="!taskForm.valid">
      speichern
    </button>

  </form>
</ion-content>


