<ion-header>

  <ion-navbar color="primary">
    <ion-title class="header-title">
      <span *ngIf="mode === 'edit'">Aufgabe bearbeiten</span>
      <span *ngIf="mode === 'create'">Neue Aufgabe</span>
      <span *ngIf="mode === 'draft'">Neue Aufgabe</span>
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <form [formGroup]="taskForm" (ngSubmit)="submitForm()">
    <ion-list>
      <ion-item-divider color="backgrey">
        <ion-icon name="clipboard" item-left></ion-icon>
        Allgemeines
      </ion-item-divider>

      <ion-item>
        <ion-input
          type="text"
          block
          formControlName="title" placeholder="Titel">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-input
          type="text"
          block
          formControlName="description"
        placeholder="Beschreibung">
        </ion-input>
      </ion-item>

      <ion-item-divider color="backgrey">
        <ion-icon name="attach" item-left></ion-icon>
        Anhänge
      </ion-item-divider>

      <ion-list>
        <!-- EXISTING ATTACHMENTS -->
        <ion-item *ngFor="let attachment of existingAttachments;let i = index">
          <p (click)="watchExistingAttachment(i)">{{attachment.name}}</p>
          <ion-icon *ngIf="!attachment.cloned" name="trash" item-right (click)="deleteExistingAttachment(i)"></ion-icon>
        </ion-item>

        <!-- NEW ATTACHMENTS -->
        <ion-item *ngFor="let attachment of newAttachments; let i = index">
          <p (click)="watchNewAttachment(i)">{{attachment.name}}</p>
          <ion-icon name="trash" item-right (click)="deleteNewAttachment(i)"></ion-icon>
        </ion-item>

        <!-- ADD ATTACHMENT -->
        <ion-item (click)="addAttachment()">
          <p><ion-icon name="add" item-left></ion-icon>
          Anhang hinzufügen</p>
        </ion-item>
      </ion-list>

      <ion-item-divider color="backgrey" *ngIf="response !== null">
        <ion-icon name="albums" item-left></ion-icon>
        Vorhandene Rückmeldung
      </ion-item-divider>

      <ion-item *ngIf="response !== null">
        <!-- TEXT RÜCKMELDUNG -->
        <p *ngIf="responseType === 'Text'">
          {{response}}
        </p>

        <!-- VIDEO RÜCKMELDUNG -->
        <p *ngIf="responseType === 'Video'" (click)="watchResponse()">
          {{response.name}}
        </p>

        <!-- BILD RÜCKMELDUNG -->
        <p *ngIf="responseType === 'Bild'" (click)="watchResponse()">
          {{response.name}}
        </p>

        <!-- SPRACHNACHRICHT RÜCKMELDUNG -->
        <p *ngIf="responseType === 'Sprachnachricht'" (click)="watchResponse()">
          {{response.name}}
        </p>
      </ion-item>

      <ion-item-divider color="backgrey">
        <ion-icon name="cog" item-left></ion-icon>
        Einstellungen
      </ion-item-divider>

      <ion-item>
        <ion-label>Schwierigkeit</ion-label>
        <ion-select formControlName="difficulty">
          <ion-option
            *ngFor="let difficulty of difficulties"
            [value]="difficulty">{{ difficulty }}
          </ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Rückmeldung</ion-label>
        <ion-select formControlName="responseType">
          <ion-option
            *ngFor="let response of responses"
            [value]="response">{{ response }}
          </ion-option>
        </ion-select>
      </ion-item>

      <ion-item *ngIf="taskForm.get('responseType').value != 'Keine'">
        <ion-textarea
          block
          formControlName="responseInstructions"
        placeholder="Was soll der Schüler rückmelden?">
        </ion-textarea>
      </ion-item>

      <div *ngIf="mode === 'edit'">
        <ion-item>
          <ion-label>Status</ion-label>
          <ion-select formControlName="state">
            <ion-option
              *ngFor="let state of states"
              [value]="state.value">{{ state.label }}
            </ion-option>
          </ion-select>
        </ion-item>

        <rating text-right formControlName="rating" readOnly="false" nullable="true" max="3"></rating>
      </div>

    </ion-list>

    <button
      ion-button color="dark"
      type="submit"
      block
      [disabled]="!taskForm.valid">
      <span *ngIf="mode === 'edit'">Speichern</span>
      <span *ngIf="mode === 'create'">Neue Aufgabe</span>
      <span *ngIf="mode === 'draft'">Neue Aufgabe</span>
    </button>

  </form>
</ion-content>


