// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

@import url('https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

h1{
   font-family: 'Raleway', sans-serif;
   font-weight: 700;
   font-size: 24pt;

 }

h1.inverted{
  color: white;
  background-color: #0477bd;
  margin-top: 0px !important;
  padding: 8px 20px;
  margin-bottom: 0px;
}

h2{
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 18pt;
  font-style: italic;
}

h2.inverted{
  color: #000000;
  background-color: #86d0f5;
  margin-top: 0px !important;
  padding: 8px 20px;
  margin-bottom: 0px;

}

.header-title {
  font-family: Raleway;
  font-weight: 700;
  color: white;
  font-size: 40pt;
}

ion-fab {
  margin: 8px;
}

.list-header {
  font-family: Raleway;
  font-weight: 600;
  font-style: italic;
  font-size: 11pt;
}

.item-header {
  font-family: Raleway !important;
  font-weight: 600 !important;
  font-size: 12pt !important;
  font-style: normal !important;
}

.item-subheader {
  font-size: 10pt !important;
  color: black !important;
}

.claim {
  color: #707070 !important;
  font-size: 10pt !important;
}

.list-avatar {
  width: 60px !important;
  height: 60px !important;
}

.footer-element{
  bottom: -4px !important;
}

.footer-element:before{
  top: 19px !important;
}

