page-coach-task {
  .difficulty{
    margin: 0 !important;
    font-weight: normal;
  }
.no-task {
  width: 83%!important;
  left: 11% !important;
  position: relative !important;
}
  .noTaskgradable{
    width: 66% !important;
    left: 20% !important;
    position: relative !important;
    top: 54px !important;
  }

}
