<ion-header>

  <ion-navbar>
    <ion-title class="header-title">Chat: {{task.title}}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding class="page-task-chat" id="page-task-chat">
  <div class="no-messages" *ngIf="taskMsgs.length === 0">
    Es gibt noch keine Nachrichten
  </div>
  <div class="messages" *ngIf="taskMsgs.length > 0">
    <div class="chat-row" *ngFor="let msg of taskMsgs; let i = index" >
      <div class="message" [ngClass]="msg._class">
        <span>{{msg.msg}}</span>
      </div>
    </div>
  </div>
</ion-content>

<ion-footer>
  <form [formGroup]="chatForm" (ngSubmit)="submitForm()">
    <ion-toolbar>
      <ion-row>

        <ion-col>
          <ion-input
            type="text"
            placeholder="Nachricht schreiben..."
            required
            formControlName="msg">
          </ion-input>
        </ion-col>
        <ion-col col-2>
          <button
            ion-button type="submit"
            [disabled]="!chatForm.valid">
            <ion-icon name="send"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
    </ion-toolbar>
  </form>
</ion-footer>
