.page-task-chat {
  .messages {
    width: 100%;
    .chat-row {
      display: block;

      &:before,
      &:after {
        display: table;
        content: "";
        clear: both;
      }
    }

    .message {
      max-width: 70%;
      display: block;
      //width: 65%;
      padding: 5px 10px;
      background: #ccc;
      color: #fff;
      border-radius: 5px;
      margin: 5px;
      float: left;
    }
    .message.me {
      float: right;
      background: #36a3dc;
      color: #fff;
    }
  }
}
