
<ion-header>
<ion-navbar color="primary">
  <ion-title class="header-title">Templates</ion-title>
</ion-navbar>

</ion-header>


<ion-content padding>

  <div *ngIf="draftAssignments.length == 0"><img class="noTemplates" src="assets/images/noTemplates.png"></div>

  <div *ngIf="draftAssignments.length > 0">
    <ion-card *ngFor="let assignment of draftAssignments; let i = index" (press)="openActionSheet(assignment._id)" class="task-card">
      <div>
        <ion-item (tap)="toggle(assignment)">
          <ion-grid>
            <ion-row>
              <ion-col class="first-row-col">
                <p class="task-title">{{assignment.title}}</p>
              </ion-col>
              <ion-col class="first-row-col date">
                <ion-note class="task-date" item-left>{{assignment.created_at | date}}</ion-note>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="second-row-col">
                <p class="task-description">{{assignment.description}}</p>
              </ion-col>
              <ion-col class="second-row-col difficulties">
                <ion-badge item-right *ngIf="assignment.difficulty=='Schwer'" color="badgehard" class="difficulty">{{assignment.difficulty}}
                </ion-badge>
                <ion-badge item-right *ngIf="assignment.difficulty=='Mittel'" color="badgemedium" class="difficulty">{{assignment.difficulty}}
                </ion-badge>
                <ion-badge item-right *ngIf="assignment.difficulty=='Einfach'" color="badgeeasy" class="difficulty">{{assignment.difficulty}}
                </ion-badge>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>

        <!-- ANHÄNGE -->
        <ion-list class="icons-wrapper" *ngIf="assignment.open && assignment.attachmentsArr.length">
          <ion-item class="icon-wrapper" *ngFor="let attachment of assignment.attachmentsArr;">
            <div (click)="watchAttachment(attachment)" class="icon-background">
              <ion-icon class="attachment-icon" *ngIf="attachment.type=='jpg'" name="camera"></ion-icon>
              <ion-icon class="attachment-icon" *ngIf="attachment.type=='png'" name="camera"></ion-icon>
              <ion-icon class="attachment-icon" *ngIf="attachment.type=='MOV'" name="videocam"></ion-icon>
              <ion-icon class="attachment-icon" *ngIf="attachment.type=='mp4'" name="videocam"></ion-icon>
              <ion-icon class="attachment-icon" *ngIf="attachment.type=='amr'" name="musical-notes"></ion-icon>
              <ion-icon class="attachment-icon" *ngIf="attachment.type=='mp3'" name="musical-notes"></ion-icon>
              <ion-icon class="attachment-icon" *ngIf="attachment.type=='wav'" name="musical-notes"></ion-icon>
            </div>
          </ion-item>
        </ion-list>

        <ion-grid>
          <ion-row *ngIf="task.open">
            <ion-col text-right>
              <button class="chatButton" ion-button icon-left small (click)="showModal(i)">
                <ion-icon class="chatIcon" name="text"></ion-icon>
                <div class="chatText">Chat</div>
              </button>
            </ion-col>
          </ion-row>
        </ion-grid>

      </div>
    </ion-card>
  </div>

  <ion-fab right bottom>
    <button ion-fab color="secondary" (click)="goToCreateDraftTask()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>

</ion-content>
<ion-footer class="footer-element">
  <img src="assets/images/footer-element.png">
</ion-footer>
