page-role-choice {
  ion-card {
    position: relative;
    text-align: center;
    height: 40%;
  }

  .card-title {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 100%;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    text-align:left;
    font-size: 24pt;
  }

}
