<ion-header>

  <ion-toolbar color="primary" *ngIf="!searchIsActive">
    <ion-title class="header-title">Dashboard</ion-title>
    <ion-buttons start>
      <button ion-button icon-only (click)="toggleSearch()">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button id="notification-button" ion-button icon-only clear (click)="goToNotifications()">
        <ion-icon name="notifications">
          <ion-badge id="notifications-badge" color="danger" *ngIf="notifications.length > 0">{{ notifications.length }}</ion-badge>
        </ion-icon>
      </button>
      <button ion-button icon-only (click)="presentPopover($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar color="primary" *ngIf="searchIsActive">
    <ion-searchbar
      [(ngModel)]="searchQuery"
      showCancelButton="true"
      (ionInput)="search()"
      (ionCancel)="toggleSearch()"></ion-searchbar>
  </ion-toolbar>

</ion-header>


<ion-content padding (click)="checkSearch()">
  <ion-list-header class="list-header">Meine Schüler</ion-list-header>
  <p padding *ngIf="students.length == 0">
    Du hast keine Studenten zur Zeit
  </p>
  <ion-list *ngIf="students.length > 0">
    <ion-item *ngFor="let student of students; let i = index" (click)="goToTasks(i)" (press)="openActionSheet(i)">
      <ion-avatar item-left>
        <img class="list-avatar" src="assets/images/dummy-avatar.png">
      </ion-avatar>
      <h2 class="item-header">{{student.name}}</h2>
      <p class="item-subheader">{{student.aboutMe}}</p>
      <p class="claim">0 zu bewertende Tasks</p>
      <!--p>2 Tasks offen</p> TODO: Tasks and Badgeds
      <ion-badge color="light" item-right>2</ion-badge-->
    </ion-item>
  </ion-list>

  <ion-fab right bottom>
    <button ion-fab color="secondary" (click)="showPrompt()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
